<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<h1>Museo della vasca navale</h1>
		<h2>Museo d'arte </h2>
	</header>
	<div>
		<h1>diocane</h1>
	</div>
	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>
	
	<footer th:fragment="fondo">
			<form th:action="@{/default}">
			<button type="submit">HOME</button>
   		</form>
		
	</footer>
</body>
</html>