<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<link th:href="@{/layout/styles/layout.css}" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title th:text="${title}"></title>
</head>

<body id=top>

<div class="bgded" style="background-image:url('images/backgrounds/01.png');">

<header th:fragment="intestazione" id="header" class="hoc clear">

<!-- ################################################################################################ -->

<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"> 
     
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
        <li><i class="far fa-envelope rgtspace-5"></i> info@museo.com</li>
      </ul>
     
    </div>
    <div class="fl_right"> 
      
      <ul class="nospace">
        <li><a th:href="@{/login}" ><i class="fas fa-sign-in-alt">Login</i></a></li>
        <li><a th:href="@{/register}" ><i class="fas fa-edit">Registrazione</i></a></li>
      </ul>
      
    </div>
  </div>
</div>

<!-- ################################################################################################ -->

<!-- ################################################################################################ -->


<!-- Menu ############################################################################################ -->


  
  <div class="wrapper row1">
    
      <div id="logo" class="fl_left"> 
        
        <h1><a href=#>Portale Museale</a></h1>
       
      </div>
      <nav id="mainav" class="fl_right"> 
        
        <ul class="clear">
          <li class="active"><a th:href="@{/default}">Home</a></li>
          <li><a class="drop" href="#">Funzioni</a>
            <ul>
              <li><a class="drop" href="#">Collezioni</a>
                <ul>
                  <li><a th:href="@{/collezione}">Elenco Collezioni</a></li>

                </ul>
              </li>
              <li><a class="drop" href="#">Artisti</a>
                <ul>
                  <li><a th:href="@{/artista}">Elenco Artisti</a></li>

                </ul>
              </li>
              <li><a class="drop" href="#">Opere</a>
                <ul>
                  <li><a th:href="@{/opera}">Elenco Opere</a></li>

                </ul>
              </li>
              <li><a class="drop" href="#">Curatori</a>
                <ul>
                  <li><a th:href="@{/curatore}">Elenco Curatori</a></li>

                </ul>
              </li>
              <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
          </li>
 
          <li><a th:href="@{/chiSiamo}">Chi Siamo</a></li>
          <li><a th:href="@{/contattaci}">Contattaci</a></li>

        </ul>
       
      </nav>
    
  </div>
  
  <!-- ############################################################################################### -->
  

</header>

 

<!-- footer  #################################################################################### -->  

</div>

<footer th:fragment="fondo" id="footer" class="hoc clear">

	<div class="bgded overlay row4" style="background-image:url('images/backgrounds/01.png');">
  		
 		<div class="wrapper coloured">
  				<section id="ctdetails" class="hoc clear"> 
    		<!-- ############################################################################################## -->
    			<ul class="nospace clear">
      			<li class="one_quarter first">
        			<div class="block clear"><a href="tel:001-234-567-890"><i class="fas fa-phone"></i></a> <span><strong>Contattaci:</strong> +00 (123) 456 7890</span></div>
      			</li>
      			<li class="one_quarter">
        			<div class="block clear"><a href="pages/contattaci.html"><i class="fas fa-envelope"></i></a> <span><strong>Manda una email:</strong> support@museo.com</span></div>
      			</li>
      			<li class="one_quarter">
        			<div class="block clear"><i class="fas fa-clock"></i> <span><strong> Lunedi - Sabato:</strong> 08.00am - 18.00pm</span></div>
      			</li>
      			<li class="one_quarter">
        		<div class="block clear"><a href="https://goo.gl/maps/m5fg47TcDCkNfZEJ8" target="_blank"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Dove Trovarci</strong><a href="https://goo.gl/maps/m5fg47TcDCkNfZEJ8" target="_blank">Indirizzo</a></span></div>
      			</li>
    			</ul>
    <!-- ################################################################################################ -->
  				</section>
		</div>
  		
		</div>

</footer>

</body>
</html>