<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Xadri\Documents\GitHub\ProgettoSiwMuseo\museo\src\main\resources\static\css\style.css"/>
    <title th:text="${title}"></title>
</head>
<body>
    <header th:fragment="intestazione">
		<h1>Mo Tocca Che Se lavora</h1>
		<h2>Progetto Museo</h2>
	</header>

    <div class="another">This is another sidebar</div>
	
	<footer th:fragment="fondo">
		<a th:href="@{/}">Home</a>
		
	</footer>
</body>
</html>