<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title='Progetto Museale')">
	 </head>

<body id="top">
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	
	
<div class="bgded overlay" style="background-image:url('images/backgrounds/01.png');">
   <figure class="hoc container clear imgroup"> 
    <!-- ################################################################################################ -->
    <figcaption class="sectiontitle">
      <p class="heading underline font-x2" th:text="#{header.artisti}">List of Artist</p>
    </figcaption>
    <ul class="nospace group">
    
    <th:block th:each="artista : ${artisti}">
    
    <li class="one_third">
	<a class="imgover" href="artista.html" th:href="@{'/artista' + '/' + ${artista.id}}" >
	
	<img th:src="@{${artista.photosImagePath}}" width="120" height="168"/>
	<figcaption><em th:text="|${artista.nome} ${artista.cognome}|"></em></figcaption></a>
	</li>
    </th:block>
      </ul>
   
  </figure> 
  <!-- ################################################################################################ -->
  
</div>	

	<footer th:replace="fragments/baseadmin.html :: fondo"></footer>
</body>
</html>

