<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.artista})"> </head>
	
<body id="top">
	<div th:if="${role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	
	<div class="wrapper row3">
		<main class="hoc container clear">
			<!-- main body -->
			<!-- ############################################################################################# -->
			<section class="group">
				<div class="one_half first">
					<img class="inspace-15 borderedbox" th:src="@{${curatore.photosImagePath}}" width="120" height="168" 	alt="">
				</div>
				<div class="one_half">
				<ul class="nospace group inspace-15">
					<li class="one_half first btmspace-50">
						<article>
							<h6 class="heading" th:text="#{header.curatoreSingolo}">Curatore</h6>
							<div th:if="${curatore}" th:object="${curatore}">
							<h5 class="heading" >NOME:</h5>
								<h6 class="heading" th:text="*{nome}">qui-va-nome</h6>
								<h5 class="heading" >COGNOME:</h5>
								<h6 class="heading" th:text="*{cognome}">qui-va-cognome</h6>
								<h5 class="heading" >DATA DI NASCITA:</h5>
								<h6 class="heading" th:text="*{dataDiNascita}">qui-va-dataNascita</h6>
								<h5 class="heading" >LUOGO DI NASCITA:</h5>
								<h6 class="heading" th:text="*{luogoNascita}">qui-va-luogoNascita</h6>
								<h5 class="heading" >EMAIL:</h5>
								<h6 class="heading" th:text="*{email}">qui-va-email</h6>

								<div th:if="${session.role}=='ADMIN'">
								<h5 class="heading" >TELEFONO:</h5>
								<h6 class="heading" th:text="*{telefono}">qui-va-telefono</h6>
								<h5 class="heading" >MATRICOLA:</h5>
								<h6 class="heading" th:text="*{matricola}">qui-va-matricola</h6>
								
							</div>
							</div>
							<p class="nospace"></p>
							<div th:unless="${curatore}">Non esiste</div>
							<div th:if="${session.role}=='ADMIN'">
								<footer class="center">
								<a class="btn" th:href="@{'/admin/modCuratore' + '/' + ${curatore.id}}">modifica</a>
								<a class="btn" th:href="@{'/admin/curatore' + '/' + ${curatore.id}}">elimina</a>
								</footer>
							</div>
						</article>
          			</li>
        	</ul>
      </div>					
 	</section>
    <!-- ############################################################################################# -->
    <!-- / main body -->
    <div class="clear"></div>
  	</main>
	</div>
		
	<!-- Gallery Photo ################################################################################### -->

	<section class="group">
		<div class="bgded overlay" style="background-image: url('images/backgrounds/01.png');">
			<figure class="hoc container clear imgroup">
				<!-- ################################################################################################ -->
				<figcaption class="sectiontitle">
					<p class="heading underline font-x2">Collezioni</p>
				</figcaption>
				<div class="boxFox" th:each="collezione : ${curatore.collezioni}">
					<img th:src="@{${collezione.photosImagePath}}" width="120" height="168" />
					<a href="collezione.html" th:href="@{'/collezione' + '/' + ${collezione.id}}"
						th:text="|${collezione.nome} ${collezione.descrizione}|">Paolo Rossi</a>
				</div>
	 	</figure>
	 	</div>
    <!-- ################################################################################################ -->
  </section>		
	

    <footer th:replace="fragments/baseadmin.html :: fondo"></footer>
</body>
</html>