<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.opera})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 th:text="#{header.opera}">...</h4>

			
		<div th:if="${opera}" th:object="${opera}">
			<span th:text="*{titolo}">qui-va-titolo</span> <span th:text="*{anno}">qui-va-anno</span>
			<span>
			<img th:src="@{${opera.photosImagePath}}"/>
			</span>	
		</div>
		<div th:unless="${opera}">Non esiste</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>