<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title='Progetto Museale')"> </head>

<body id="top">
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	
<div class="wrapper row3">
 <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ############################################################################################# -->
    <section class="group">
      
     <div class="one_half first btmspace-50">
     <article>
		<div>
			<h6 class="heading" th:text="#{header.opera}">Dati Opera</h6>
		</div>

	<form th:action="@{opera}" method="POST" th:object="${opera}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>

	<table>
    	<tr>
    	 <td>
        	<h6 class="heading"><span>Id:<input type="text" th:field="*{id}" required /></span></h6>
        </td>
        <td>
        	<h6 class="heading"><span>Titolo:<input type="text" th:field="*{titolo}" required /></span></h6>
        </td>
        <td>
        	<h6 class="heading"><span>Anno:<input type="text" th:field="*{anno}" required/></span></h6>
        </td>
        <td>				
			<h6 class="heading"><span>
			<label>Artista: </label> <select id="artista" th:field="*{artista}" required>
			<option th:each="artista : ${artisti}"
						th:value="${artista.id}" th:text="${artista.nome + ' ' + artista.cognome}"></option>
			</select>
			</span></h6>
        </td>       
    	</tr>
    	<tr>
        <td>				
			<h6 class="heading"><span>
			<label>Foto: </label> <input type="file" name="image" accept="image/png, image/jpeg" />
			</span></h6>
        </td>
        <td>				
			<h6 class="heading"><span>
			<label>Collezione: </label> <select id="collezione" th:field="*{collezione}" required>
			<option th:each="collezione : ${collezioni}"
						th:value="${collezione.id}" th:text="${collezione.nome}"></option>
			</select>
			</span></h6>
        </td>
         <td>
        				<h6 class="heading"><span>Descrizione:<textarea  type="text" th:field="*{descrizione}" cols="30" rows="4"/></span></h6>
        </td>
    	</tr>    		
	</table>
	<div>
		<h6 class="heading"><span><button type="submit">Invio</button></span></h6>
	</div>
		
	</form>
	
	</article>
	
	
	</div>
	  
     </section>
    <!-- ############################################################################################# -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
	<footer th:replace="fragments/baseadmin.html :: fondo"></footer>
</body>
</html>