@charset "ISO-8859-1";
body{
    background-color: rgb(233, 209, 181);
    padding: 5px;
    
}

header {
    background: no-repeat left/cover url(/images/barboni.jpg);
    border: 1px solid black;
    display: flex;
    height: 350px;
    min-width: 120px;
    align-items: flex-end;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0 0 .2em;
    padding: 10px;
}

header > h1 {
    font: bold;
    margin: 2%;
    
}


footer {
    border-top-style: outset;
    margin-top: 2em;
	}
	
span.input {width: 30%;}

.centro{
    display: flex;
    flex-direction: column;
    
    background-color: rgb(235, 204, 164); 
    padding: 5px; 
}
.item{
    text-align: center;

    padding: 10px;

}
.containerFlex{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}
.item2{
    width: 406px;
    padding: 1px;
    

}
.elenchi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campi{
    padding: 2px;
}