@charset "ISO-8859-1";
body{
    background-color: rgb(161, 128, 90);
    padding: 5px;
    
}

header {
    background: no-repeat left/cover url(/images/barboni.jpg);
    border: 1px solid black;
    display: flex;
    height: 350px;
    min-width: 120px;
    align-items: flex-end;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0 0 .2em;
    padding: 10px;
}

header > h1 {
    font: bold;
    margin: 2%;
    
}


footer {
    border-top-style: outset;
    margin-top: 2em;
	}
	
span.input {width: 30%;}

.centro{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: tan; 
    padding: 5px; 
}
.item{
    text-align: center;
    padding: 10px;

}
.containerFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid hsl(0, 0%, 0%);
    
}
.item2{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}