header {
    background: no-repeat left/cover url(C:\Users\Xadri\Documents\GitHub\ProgettoSiwMuseo\museo\src\main\resources\static\images);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}
footer {
    border-top-style: outset;
    margin-top: 2em;
	}
	
span.input {width: 30%;}


containerLogin {
    border:aqua;
    align-items: center;
}