<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuAdmin}">Menu</h4>
		<div>
			<a href="collezione" th:href="@{/collezione}">Elenco collezioni</a>
   		</div>
   		<div>
			<a href="artista" th:href="@{/artista}">Elenco artisti</a>
   		</div>
   		<div>
			<a href="opera" th:href="@{/opera}">Elenco opere</a>
   		</div>
   		<div>
			<a href="curatore" th:href="@{/curatore}">Elenco curatori</a>
   		</div>
   		<div>
			<form th:action="@{/admin/collezione}">
			<button type="submit">Inserisci dati collezione</button>
   		</form>
   		</div>
   		<div>
   		<form th:action="@{/admin/artista}">
			<button type="submit">Inserisci dati artista</button>
   		</form>
   		</div>
   		<div>
			<form th:action="@{/admin/opera}">
			<button type="submit">Inserisci dati opera</button>
   		</form>
   		</div>
   		<div>
			<div>
			<form th:action="@{/admin/curatore}">
			<button type="submit">Inserisci dati curatore</button>
   		</form>
   		</div>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>